.Login {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(27, 100, 143);
    height: 100%;
    flex-wrap: wrap;
    align-content: center;
}

.full-height {
    height: 100vh;
}

.container {
    width: 60%;
    background-color: #2c4d6b;
    display: flex;
    height: 400px;
    border-radius: 10px;
}

.align-center {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.justify-content {
    display: flex;
    justify-content: center;
}

.left {
    width: 40%;
    border-right: 5px solid;
    text-align: center;
}

.left .title,
.left p {
    width: 100%;
    margin: 10px 0px;
    font-size: 1.1rem;
}

.left .title {
    font-size: 2rem;
    font-weight: 700;
}

.left .picture {
    width: 70%;
    background-color: black;
    border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
    .left .picture {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.left .picture img {
    width: 100%;
}

.right {
    width: 60%;
}

.container-input {
    width: 60%;
}

.container-input .row {
    width: 100%;
    margin: 10px 0px;
    position: relative;
}

.container-input .row i {
    position: absolute;
    top: 15%;
    right: 5%;
    font-size: 1.5rem;
    color: rgb(58, 45, 45);
}

.container-input .row input {
    width: 100%;
    padding: 5px 10px;
    font-size: 1.2rem;
}

.container-input .row:last-child {
    display: flex;
    justify-content: flex-end;
}

.container-input .row button {
    padding: 7px 50px;
    font-size: 1.2rem;
    font-weight: 600;
}